.container {
    container-type: inline-size;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper {
    padding: 1rem;
}


.hero {
    display: flex;
    min-height: 480px;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #8b6f47;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.033em;
}

.subtitle {
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

}

@media (max-width: 768px) {

    .wrapper {
        padding: 0.5rem;
    }

    .hero {
        max-height: 48%;
        max-width: 48%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .title {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: -0.033em;
    }

    .subtitle {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
    }

    .textContainer {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .wrapper {
        padding: 0.25rem;
    }

    .hero {
        max-height: 35%;
        max-width: 35%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .title {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: -0.033em;
    }

    .subtitle {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.2;
    }
}

