.section {
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    gap: 0.75rem;
    padding: 1rem;
}

.imageColumn {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 0.5rem;
}