.section {
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.tableWrapper {
    padding: 0.75rem 1rem;
    container-type: inline-size;
}

.tableContainer {
    display: flex;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid #674b32;
    background-color: #221911;
}

.table {
    flex: 1;
    border-collapse: collapse;
}

.headerRow {
    background-color: #332519;
}

.headerCell {
    padding: 0.75rem 1rem;
    text-align: left;
    color: white;
    width: 400px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
}

.row {
    border-top: 1px solid #674b32;
}

.cellName {
    height: 72px;
    padding: 0.5rem 1rem;
    width: 400px;
    color: white;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}

.cellDescription {
    height: 72px;
    padding: 0.5rem 1rem;
    width: 400px;
    color: #c9ac92;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}

.cellPrice {
    height: 72px;
    padding: 0.5rem 1rem;
    width: 400px;
    color: #c9ac92;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}