.section {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    container-type: inline-size;
    text-align: center;
}

.title {
    color: #6f4e37;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.content {
    color: #4a3b32;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    padding: 0.25rem 1rem 0.75rem;
}

@media (max-width: 768px) {
    .section {
        margin-top: 0.15rem;
        margin-bottom: 0.5rem;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
    }

    .content {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        max-width: 50%;
        max-height: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 400px) {
    .section {
        margin-top: 0.15rem;
        margin-bottom: 0.5rem;
    }
    
    .title {
        font-size: 1.75rem;
        font-weight: bold;
        line-height: 1.5;
    }

    .content {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
        max-width: 35%;
        max-height: 35%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
