.section {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #6f4e37;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.carouselContainer {
    padding: 1rem;
    position: relative;
}

.carousel {
    height: 530px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
}

.carouselContent {
    margin-left: 0 !important;
}

.carouselItem {
    padding-left: 0 !important;
    flex-basis: 100%;
}

.carouselButton {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(201, 172, 146, 0.3);
    color: #8b6f47;
}

.carouselButton:hover {
    background-color: #8b6f47;
    color: white;
}

.carouselButton:disabled {
    opacity: 0.3;
}

.itemCard {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
}

.itemImage {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.itemTitle {
    color: #4a3b32;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: bold;
}

.itemDescription {
    color: #9b8570;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .section {
        margin-top: 1rem;
        margin-bottom: 0.15rem;
    }
    
    .title {
        font-size: 1.75rem;
        padding: 0.5rem;
    }

    .carousel {
        height: 38%;
        width: 38%;
    }

    .carouselItem {
        flex-basis: 100%;
    }

}

@media (max-width: 500px) {
    .section {
        margin-top: 1rem;
        margin-bottom: 0.15rem;
    }

    .title {
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    .carousel {
        height: 28%;
        width: 28%;
    }

    .carouselItem {
        flex-basis: 100%;
    }
}