.section {
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.carouselContainer {
    padding: 1rem;
    position: relative;
}

.carousel {
    width: 100%;
}

@media (max-width: 400px) {
    .carousel {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px) {
    .carousel {
        width: 100%;
    }
}

.carouselContent {
    margin-left: 0 !important;
}

.carouselItem {
    padding-left: 0.75rem !important;
    flex-basis: 100%;
}

@media (min-width: 640px) {
    .carouselItem {
        flex-basis: 50%;
    }
}

@media (min-width: 1024px) {
    .carouselItem {
        flex-basis: 33.333333%;
    }
}

.carouselButton {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(201, 172, 146, 0.3);
    color: #8b4513;
}

.carouselButton:hover {
    background-color: #c9ac92;
    color: white;
}

.carouselButton:disabled {
    opacity: 0.3;
}

.itemCard {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
}

.itemImage {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.itemTitle {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.itemDescription {
    color: #c9ac92;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}