.section {
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.scrollContainer {
    display: flex;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.itemsContainer {
    display: flex;
    align-items: stretch;
    padding: 1rem;
    gap: 0.75rem;
}

.itemCard {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    min-width: 15rem;
}

.itemImage {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.itemTitle {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.itemDescription {
    color: #c9ac92;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}