.section {
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
}

.mapContainer {
    display: flex;
    padding: 0.75rem 1rem;
}

.map {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    background-size: cover;
    border-radius: 0.5rem;
    object-fit: cover;
}

.info {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    padding: 0.25rem 1rem 0.75rem;
}