.section {
    margin-bottom: 0.5rem;
}

.title {
    color: #6f4e37;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.015em;
    padding: 1.25rem 1rem 0.75rem;
    text-align: center;
}

.mapContainer {
    display: flex;
    padding: 0.75rem 1rem;
}

.map {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    background-size: cover;
    border-radius: 0.5rem;
    object-fit: cover;
}

.ubicationInfo {
    color: #4a3b32;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5;
    padding: 0.25rem 1rem 0.75rem;
}

.hours {
    color: #4a3b32;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5;
    padding: 0.25rem 1rem 0.75rem;
}

@media (max-width: 768px) {
    .section {
        margin-top: 0.15rem;
        margin-bottom: 0.5rem;
    }

    .title {
        font-size: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .mapContainer {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .map {
        width: 48%;
        height: 48%;
    }

    .ubicationInfo {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }

    .hours {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .section {
        margin-top: 0.15rem;
        margin-bottom: 0.5rem;
    }

    .title {
        font-size: 1.75rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .map {
        width: 35%;
        height: 35%;
    }

    .ubicationInfo {
        font-size: 0.75rem;
    }

    .hours {
        font-size: 0.75rem;
    }
}